.HomePage {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 13%, rgba(11, 29, 38, 1) 17%), url('../assets/Images/Hills.png');
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}