.LeftAligned {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0 100px 0;

    .left {
        width: 60%;

        .num {
            height: 1px;
            align-self: start;
            display: flex;
            align-items: center;
            justify-content: start;

            h1 {
                margin: 0;
                font-size: 200px;
                opacity: 0.3;
            }
        }

        .content {
            width: 72%;
            display: flex;
            align-items: left;
            justify-content: center;
            flex-direction: column;
            align-self: center;
            justify-self: center;

            .top {
                display: flex;
                align-items: center;
                justify-content: start;
                height: 23px;
                width: 100%;

                .left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 75px;
                }

                .right {
                    width: 70%;
                    text-align: left;
                    margin-left: 20px;

                    h4 {
                        margin: 0;
                        letter-spacing: 3px;
                        color: #FBD784;
                    }
                }
            }

            .heading {
                margin: 2% 0 2% 0;

                h1 {
                    text-align: left;
                    font-weight: 400;
                    font-size: 70px;
                    font-family: 'Times New Roman', Times, serif;
                    margin: 0;
                }
            }

            .content {
                width: 100%;
                text-align: left;
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 23px;
                width: 25%;

                .left {
                    height: 100%;

                    h4 {
                        margin: 0;
                        font-weight: 500;
                        font-size: 16px;
                        text-align: left;
                        color: #FBD784;
                    }
                }

                .right {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    height: 100%;

                    img {
                        height: 100%;
                        object-fit: contain;
                        align-self: self-start;
                    }
                }
            }
        }
    }

    .right {
        width: 40%;

        img {
            height: 720px;
            width: 566px;
        }
    }
}