.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    max-width: 1760px;
    height: 25px;
    margin-top: 2%;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        min-width: 230px;
        
        h3 {
            font-weight: 600;
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 5vw;
    }
}